In [9]:
#import modules
from pathlib import Path
import pandas as pd

In [10]:
#read in csv
election_data = Path("C:/Users/danie/Documents/Module-3-Python/Module-3-Python/PyRoll/Resources/election_data.csv")
election_data_df = pd.read_csv(election_data)
election_data_df

        Ballot ID     County                Candidate
0         1323913  Jefferson  Charles Casper Stockham
1         1005842  Jefferson  Charles Casper Stockham
2         1880345  Jefferson  Charles Casper Stockham
3         1600337  Jefferson  Charles Casper Stockham
4         1835994  Jefferson  Charles Casper Stockham
...           ...        ...                      ...
369706    4714953   Arapahoe     Raymon Anthony Doane
369707    4497542   Arapahoe     Raymon Anthony Doane
369708    4085849   Arapahoe     Raymon Anthony Doane
369709    4592018   Arapahoe     Raymon Anthony Doane
369710    4660518   Arapahoe     Raymon Anthony Doane

[369711 rows x 3 columns]

In [11]:
#total votes calculated by applying .count 
total_votes = election_data_df["Ballot ID"].count()

In [12]:
#results dataframe generated by grouping original dataframe by candidate name, and counting each of their votes
election_data_df = election_data_df.groupby("Candidate")
results_df = election_data_df.count()
results_df

                         Ballot ID  County
Candidate
Charles Casper Stockham      85213   85213
Diana DeGette               272892  272892
Raymon Anthony Doane         11606   11606

In [13]:
#results dataframe is organised to remove "County" column
results_df = results_df[["Ballot ID"]]

#"Ballot ID" is renamed to "Votes"
results_df = results_df.rename(columns = {"Ballot ID":"Votes"})

#"percentage of votes" added into dataframe
pc_votes = round(results_df["Votes"]/total_votes*100,3)
results_df["pc_votes"] = pc_votes

#dataframe index is reset
results_df = results_df.reset_index()

#dataframe is printed to terminal, to visualise it
results_df

                 Candidate   Votes  pc_votes
0  Charles Casper Stockham   85213    23.049
1            Diana DeGette  272892    73.812
2     Raymon Anthony Doane   11606     3.139

In [14]:
#winner is found by locating max vote in the results dataframe
max_vote = int(results_df["Votes"].max())

#winner dataframe is generated to aid in printing later
max_vote_df = results_df.loc[results_df["Votes"]==max_vote,:]
max_vote_df

       Candidate   Votes  pc_votes
1  Diana DeGette  272892    73.812

In [15]:
#print results to terminal
print("Election Results")
print("-------------------------------------------------")
print(f'Total Votes: {total_votes}')
print("-------------------------------------------------")
for index, row in results_df.iterrows():
    print(f'{row["Candidate"]}: {row["pc_votes"]}% ({row["Votes"]})')
print("-------------------------------------------------")
for index, row in max_vote_df.iterrows():
    print(f'Winner: {row["Candidate"]}')

Election Results
-------------------------------------------------
Total Votes: 369711
-------------------------------------------------
Charles Casper Stockham: 23.049% (85213)
Diana DeGette: 73.812% (272892)
Raymon Anthony Doane: 3.139% (11606)
-------------------------------------------------
Winner: Diana DeGette

In [16]:
##export results to textfile in "analysis" folder
#define location for text file
text_analysis = Path("C:/Users/danie/Documents/Module-3-Python/Module-3-Python/PyRoll/Analysis/pyroll_analysis_with_pandas.txt")

#if there is no text file at the location, one is created. If there is already a text file, it is re-written
with open (text_analysis,"w") as file:
    file.write("Election Results\n")
    file.write("-------------------------------------------------\n")
    file.write(f'Total Votes: {total_votes}\n')
    file.write("-------------------------------------------------\n")
    for index, row in results_df.iterrows():
        file.write(f'{row["Candidate"]}: {row["pc_votes"]}% ({row["Votes"]})\n')
    file.write("-------------------------------------------------\n")
    for index, row in max_vote_df.iterrows():
        file.write(f'Winner: {row["Candidate"]}\n')