In [36]:
#import modules
from pathlib import Path
import pandas as pd

In [37]:
#read in csv
budget_data = Path("C:/Users/danie/Documents/Module-3-Python/Module-3-Python/PyBank/Resources/budget_data.csv")
budget_data_df = pd.read_csv(budget_data)
budget_data_df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [38]:
#"Changes" column is added to the dataframe by calculating differences using .diff
Changes = budget_data_df["Profit/Losses"].diff()
budget_data_df["Changes"] = Changes
budget_data_df.head()

     Date  Profit/Losses    Changes
0  Jan-10        1088983        NaN
1  Feb-10        -354534 -1443517.0
2  Mar-10         276622   631156.0
3  Apr-10        -728133 -1004755.0
4  May-10         852993  1581126.0

In [39]:
#calculate values for total months, total profit and min/max change using .count, .sum, .max, and .min on csv dataframe
total_months = budget_data_df["Profit/Losses"].count()

total_profit = budget_data_df["Profit/Losses"].sum()

#min and max months are calculated using the location values of the min/max profit/loss values
max_inc = round(budget_data_df["Changes"].max(),)
max_month_inc_df = budget_data_df.loc[budget_data_df["Changes"] == max_inc,:]

max_dec = round(budget_data_df["Changes"].min(),)
max_month_dec_df = budget_data_df.loc[budget_data_df["Changes"] == max_dec,:]

#average change is calculated by using .average on the change column in the dataframe
average_change=round(budget_data_df["Changes"].mean(),2)

In [40]:
#print min/max value rows to check
print(max_month_inc_df)
print(max_month_dec_df)

      Date  Profit/Losses    Changes
79  Aug-16         951227  1862002.0
      Date  Profit/Losses    Changes
49  Feb-14        -946748 -1825558.0

In [41]:
#print results to terminal
print("Financial Analysis")
print("----------------------------------------------------")
print(f'Total Months: {total_months}')
print(f'Total: ${total_profit}')
print(f'Average Change: ${average_change}')
for index, row in max_month_inc_df.iterrows():
    print(f'Greatest Increase in Profits: {row["Date"]} (${round(row["Changes"],)})')
for index, row in max_month_dec_df.iterrows():
    print(f'Greatest Decrease in Profits: {row["Date"]} (${round(row["Changes"],)})')
print("----------------------------------------------------")

Financial Analysis
----------------------------------------------------
Total Months: 86
Total: $22564198
Average Change: $-8311.11
Greatest Increase in Profits: Aug-16 ($1862002)
Greatest Decrease in Profits: Feb-14 ($-1825558)
----------------------------------------------------

In [42]:
##export results to textfile in "analysis" folder
#define location for text file
text_analysis = Path("C:/Users/danie/Documents/Module-3-Python/Module-3-Python/PyBank/Analysis/pybank_analysis_with_pandas.txt")

#if there is no text file at the location, one is created. If there is already a text file, it is re-written
with open (text_analysis, "w") as file:
    file.write("Financial Analysis\n")
    file.write("----------------------------------------------------\n")
    file.write(f'Total Months: {total_months}\n')
    file.write(f'Total: ${total_profit}\n')
    file.write(f'Average Change: ${average_change}\n')
    for index, row in max_month_inc_df.iterrows():
        file.write(f'Greatest Increase in Profits: {row["Date"]} (${round(row["Changes"],)})\n')
    for index, row in max_month_dec_df.iterrows():
        file.write(f'Greatest Increase in Profits: {row["Date"]} (${round(row["Changes"],)})\n')
    file.write("----------------------------------------------------\n")