In [70]:
import pandas as pd
from pathlib import Path

In [71]:
budget_data = Path("C:/Users/danie/Documents/Module-3-Python/Module-3-Python/PyBank/Resources/budget_data.csv")
budget_data_df = pd.read_csv(budget_data)
budget_data_df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [72]:
Changes = budget_data_df["Profit/Losses"].diff()
budget_data_df["Changes"] = Changes
budget_data_df.head()

     Date  Profit/Losses    Changes
0  Jan-10        1088983        NaN
1  Feb-10        -354534 -1443517.0
2  Mar-10         276622   631156.0
3  Apr-10        -728133 -1004755.0
4  May-10         852993  1581126.0

In [73]:
total_months = budget_data_df["Profit/Losses"].count()

total_profit = budget_data_df["Profit/Losses"].sum()

max_inc = round(budget_data_df["Changes"].max(),)

max_dec = round(budget_data_df["Changes"].min(),)

average_change=round(budget_data_df["Changes"].mean(),2)

In [74]:
print("Financial Analysis")
print("----------------------------------------------------")
print(f'Total months = {total_months} months')
print(f'Total = ${total_profit}')
print(f'Average Change = ${average_change}')
print(f'Greatest Increase in Profits = ${max_inc}')
print(f'Greatest Decrease in Profits = ${max_dec}')
print("----------------------------------------------------")

Financial Analysis
----------------------------------------------------
Total months = 86 months
Total = $22564198
Average Change = $-8311.11
Greatest Increase in Profits = $1862002
Greatest Decrease in Profits = $-1825558
----------------------------------------------------